.main-form {
  width: 100%;
  color: #ffffff;
  background-color: #111111;
}

.main-form__wrapper {
  width: 1366px;
  margin: 0 auto;
  padding: 53px 99px 68px;
}

.main-form__caption {
  display: inline-block;
  width: 1000px;
  font-size: 28px;
}

.main-form__price {
}