.main-content {
  width: 1366px;
  margin: 0 auto;
  padding: 77px 97px 58px;
  color: #ffffff;
  background: url("/img/bg-main.jpg") no-repeat center;
  box-sizing: border-box;
}

.main-content__tagline {
  width: 660px;
  padding-bottom: 48px;
  font-size: 72px;
  line-height: 62px;
}

.main-content__tagline--bold {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
}

.main-content__service {
  padding-bottom: 66px;
  font-size: 28px;
}

.main-content__more {
  font-size: 20px;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  letter-spacing: 1px;
}

.main-content__more a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
